---
layout: default
Title: Bill Talkington
---

<p><strong>NOTE:</strong> I'm currently making a lot of changes to my site's appearance, so don't be a stranger! </p>

<p>Hi! I'm Bill, a former <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=talkington+wj">neuroscientist</a> transitioning into web/software development as a career. I earned my PhD at <a href="http://www.wvu.edu">WVU</a>, where I studied auditory signal processing in the human brain with various neuroimaging technologies.</p>

<p>This site will be an outlet for discussing any of my coding projects as well as my hobbies and interests, which may include gardening, permaculture, furniture restoration, woodworking, home improvement, etc.</p>

<p>When I'm not coding, learning about coding, or finding any spare minutes for those hobbies, I'm usually enjoying time with my wife <a href="http://www.BrandiTalkington.com"> Brandi </a> and our two little girls.</p>

{% assign sorted = site.pages | sort:"order" %}

<!-- <section class="topic-circles">
  {% for page in sorted %}
    {% if page.title %}
    <div class="topic-circle">
  
      <a class="topic-circle-link-{{ page.url | replace: '/', ''}}" href="{{ page.url | prepend: site.baseurl }}">
        <p>{{ page.title }}</p>
      </a>
  
    </div>
    {% endif %}
  {% endfor %}
</section> -->

<section class="topic-circles">
  {% for page in sorted %}
    {% if page.title %}
    <div class="topic-block">
      <a class="topic-link" href="{{ page.url | prepend: site.baseurl }}">
        <div class="topic-circle-{{ page.url | replace: '/', ''}}">
          <h2>{{ page.title }}</h2>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</section>


  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

